RewriteEngine On

# Ensure mod_rewrite is available
<IfModule mod_rewrite.c>

  # Redirect from "/filename.php" to "/filename"
  RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+\.)+php\ HTTP
  RewriteRule ^(.+)\.php$ /$1 [R=301,L]

  # Redirect from "/index" or "/index.php" to "/"
  RewriteRule ^index(\.php)?$ / [R=301,L]

  # Rewrite requests for "/filename" back to "/filename.php" if the .php file exists
  RewriteCond %{REQUEST_FILENAME}.php -f
  RewriteRule ^([^.]+)$ $1.php [NC,L]

</IfModule>
